body {
    display: flex;
    align-items: center;
    height: 100%;
    background: black;
    font: 14px 'Open Sans', "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

#wrapper {
    background-color: #fff;
    width: 100%;
    height: 100%;
    position: relative;
    // left: 0;
    // bottom: 0;
    //border: 1px solid red;
    display: flex;
    justify-content: center;
    align-items: center;

}
#carousel {
    //margin-top: -105px;
    //border: 1px solid blue;
}
#carousel div {
    text-align: center;
    width: 100px;
    height: 100px;
    float: left;
    position: relative;
    //border: 1px solid yellow;
}
#carousel div img {
    border: none;
    width: 100%;
    height: auto;
}
#carousel div span {
    display: none;
}
#carousel div:hover span {
    background-color: #333;
    color: #fff;
    display: inline-block;
    width: 100px;
    padding: 2px 0;
    margin: 0 0 0 -50px;
    position: absolute;
    bottom: 30px;
    left: 50%;
    border-radius: 3px;
}
body {
    display: flex;
    align-items: center;
    height: 100%;
    background: black;
    font: 14px 'Open Sans', "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

#wrapper {
    background-color: #fff;
    width: 50px;
    height: 100%;
    position: absolute;
    // left: 0;
    // bottom: 0;
    //border: 1px solid red;
    display: flex;
    justify-content: center;
    align-items: center;

}
#carousel {
    //margin-top: -105px;
    //border: 1px solid blue;
}
#carousel div {
    text-align: center;
    width: 100px;
    height: 250px;
    float: left;
    position: relative;
    //border: 1px solid yellow;
}
#carousel div img {
    border: none;
    width: 100%;
    height: auto;
}
#carousel div span {
    display: none;
}
#carousel div:hover span {
    background-color: #333;
    color: #fff;
    display: inline-block;
    width: 100px;
    padding: 2px 0;
    margin: 0 0 0 -50px;
    position: absolute;
    bottom: 30px;
    left: 50%;
    border-radius: 3px;
}
