<style>

body {
  height: 100%;
  width: 100%;
}
body {
  font-family: 'Lato', sans-serif;
}
hr {
  border-color: #222222;
  border-width: 3px;
  max-width: 50px;
}
hr.light {
  border-color: white;
}

.bg-primary {

background-color: #ffffff;

}

p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 15px;
  margin-left: 20px;
  margin-right: 20px;
}

.bg-dark {
  background-color: #222222;
  color: black;
}

section {
  padding: 30px 0;
}
aside {
  padding: 10px 0;
}



.section-heading {
  margin-top: 0;
}
.service-box {
  max-width: 400px;
  margin: 50px auto 0;
}
@media (min-width: 992px) {
  .service-box {
    margin: 20px auto 0;
  }
}
.service-box p {
  margin-bottom: 0;
}

.portfolio-box {
  position: relative;
  display: block;
  max-width: 650px!important;
  margin: 0 auto;
}
.portfolio-box .portfolio-box-caption {
  color: white;
  opacity: 0;
  display: block;
  background: rgba(135, 206, 235, 0.9);
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%!important;
  height: 100%!important;
}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content {
  width: 100%!important;
  text-align: center;
  position: absolute;
  top: 50%;
}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category,
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
  font-family: 'Open Sans', 'Helvetica Neue', 'Lato', sans-serif;
  padding: 0 15px;
}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
  text-transform: uppercase;
  font-weight: 600%!important;
  font-size: 14px;
}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
  font-size: 18px;
}
.portfolio-box:hover .portfolio-box-caption {
  opacity: 1;
}
.portfolio-box:focus {
  outline: none;
}
@media (min-width: 768px) {
  .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
    font-size: 16px;
  }
  .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
    font-size: 22px;
  }
}
.call-to-action h2 {
  margin: 0 auto 20px;
}
.text-primary {
  color: #ffffff;
}
.no-gutter > [class*='col-'] {
  padding-right: 0;
  padding-left: 0;
}

.contact .text-primary {
  color: #3749b0;
}

.bg-contact {

 background-color: #1c7bb8;
}

.bg-contact1 {

 background-color: #FFFFFF;
}

.container {
  padding-right: 5px;
  padding-left: 5px;
  margin-right: auto;
  margin-left: auto;
}

.page-container{
max-width:none!important;
}

.navbar {
padding-right:100px!important;
padding-left:50px!important;
padding-bottom:20px!important;
}

.web-footer{
padding: 5px 5px!important;
}


.missionvsion .case-study-left{
    padding-left: 200px;
    padding-right: 50px;
}

.missionvsion 
{ background-color: #1c7bb8;
}

.missionvsion .case-study-right{
padding-right: 200px;
padding-left: 50px;
}


.container{
padding-right:0px!important;
padding-left:0px!important;
width:100%!important;
}

.page-container{
max-width:none!important;
}

.navbar {
padding-right:0px!important;
padding-left:50px!important;
padding-bottom:20px!important;
}

.web-footer{
padding: 5px 5px!important;
}


.page-container{
max-width:none!important;
}

.navbar {
padding-right:0px!important;
padding-left:50px!important;
padding-bottom:20px!important;
}

.web-footer{
padding: 5px 5px!important;
}


.missionvsion .case-study-left{
    padding-left: 200px;
    padding-right: 50px;
}

.missionvsion 
{ background-color: #1c7bb8;
}

.missionvsion .case-study-right{
padding-right: 200px;
padding-left: 100px;
}


.banner {
margin: 10px  auto;
padding: 5px;
height: 200%;
width: 100%;
overflow: hidden;
background-color: #1c7bb8;
}

.column {
float: left;
width: 50%;
text-align: center;
font-family: '', sans-serif;
color: #ffffff;
}

.text_mv{
font-family: 'Lato', sans-serif;
color: #000000;
}

.text_business{
font-family: 'Lato', sans-serif;
color: #000000;
font-size: 25px;
text-align: center;
}

.text_contact{
font-family: 'lato', sans-serif;
color: #FFFFFF;
font-size: 15px;
text-align: center;
}

.text_contact1{
font-family: 'Lato', sans-serif;
color: #FFFFFF;
font-size: 25px;
text-align: center;
}

.banner_contact {
margin: 10px  auto;
padding: 5px;
padding-top: 5px;
height: 60%;
width: 100%;
overflow: hidden;
background-color: #272b2f;
}

.text_desc{
font-family: 'Lato', sans-serif;
color: #000000;
font-size: 17px;
text-align: center;
}

.icon_business{
align-items: center;

}

.text_product_left{
font-family: 'Lato' sans-serif;
color: #000000;
text-align: justify;

}

.text_product_right{
font-family: 'Lato' sans-serif;
color: #000000;
text-align: left;

}

.text_whoarewe{
font-family: 'Lato' sans-serif;
color: #000000;
text-align: justify;

}

.socialmedia_icon{
  text-align: left;
}

.input-group-addon {
    color: #fff;
    background-color: #e7e7e7;
    border: 1px solid #cccccc;
}

.text_con_details{
font-family: 'Lato', sans-serif;
color: #FFFFFF;
font-size: 17px;
text-align: center;
}

.text_footer_details{
font-family: 'Lato' sans-serif;
color: #000000;
text-align: center;
font-size: 16px;

}


.text_contact_details{
font-family: 'Helvetica' sans-serif;
color: #000000;
text-align: center;
font-size: 14px;

}

.copyright1{
  background-color: #cacaca;
}
.copyright1 p {
    font-family: 'Lato' sans-serif;
    color: #000;
    padding: 0.5% 0;
    margin: 0.5% 0;
    text-align: center;
    font-size: 12px;
}

.drop_mssg{
  color: #000000;
  font-family: 'Lato' sans-serif;
}



</style>